<div class="row">
  <aside class="col-sm-4">
    <div class="side-button-left">
      ボタンが入ります
    </div>
    </aside>
    <div class="col-sm-4">
      <div class="card"> <!--余裕あればブートストラップやめてCSSで書き直す予定-->
        <div class="card-header">
          <h3 class="card-title"><%= @user.name %></h3>
        </div>
      <div class="card-body">
        <%= image_tag current_user.picture.to_s %>
      </div>
      <%= render 'relationships/follow_button', user: @user %>
    </div>
    <aside class="col-sm-4">
      <div class="side-button-right">
        ボタンが入ります
      </div>
    </aside>
</div>