<div class="row">
    <aside class="col-sm-4">
        <div class="side-button-left">
            ボタンが入ります
        </div>
    </aside>
    <div class="col-sm-4">
        <div class="profile-icon">プロフィール画像が入る予定</div>
    </div>
    <aside class="col-sm-4">
        <div class="side-button-right">
            ボタンが入ります
        </div>
        
    </aside>
</div>