<% if logged_in? %>
  <!--マイページへと飛びます-->
 <% else %>
 <div class="row particletext bubbles">
  <div class="main-visual col-sm-12">
    何か内容わかる画像を入れる予定です
    その他説明などを付けます。スマホでみる為に調整して作ってます。
  </div>
 </div>
<% end %>